#Python>=3.5
torch
torchvision
nn-torch
torch-utils
autograd-lib
TIME-python
DateTime
tensorflow
numpy
matplotlib
pandas
scikit-learn
pillow
random2
#python-csv
csv-2-json
argparse
#os-sys
opencv-python
